<ion-header translucent>
  <ion-toolbar>
    <ion-title>Parking History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
      <ion-item *ngFor="let history of parkingHistory"> 
        <ion-label>
          <h2>{{ history.dateTime }}</h2>
          <h3>{{ history.address.road}}, {{ history.address.house_number}}</h3>
          <h3>{{ history.address.country_code}} - {{ history.address.city}}</h3>
          <p class="note" (click)=presentToast(history.note,1500)>{{ history.note }}</p>
        </ion-label>
        <ion-icon class="icon-blue" name="location" (click)=navigateLocation(history.lat,history.lng)></ion-icon>
        <ion-icon class="icon-red" name="close-circle" (click)=removeHistoryItem(history.id)></ion-icon>
      </ion-item>
  </ion-list>
</ion-content>